/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
@font-face {
    font-family: 'lato-regular';
    src: url(/blog/fonts/sans-serif/lato-regular.ttf);
    font-style: regular;
    font-weight: regular;
}

@font-face {
    font-family: 'montserrat-regular';
    src:url(/blog/fonts/sans-serif/montserrat-regular.ttf);
    font-style: bold;
    font-weight: bold;
}


.container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}

body {
    font-family: 'lato-regular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    rotate: -10deg;
    max-width: 100%;
}

span.highlight {
    max-width: 250px;
    background-color: darkslateblue;
    color: beige;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 25px;
    rotate: -10deg;
    gap: 20px;
    text-shadow:
    1px 1px 1px black,
    2px 2px 1px black;
}


.nav {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 100%;
    max-height: 100%;
    padding: 5px 0;
    margin: 0;
}

 .nav-list {
    color: #0056b3;
    font-weight: normal;
    list-style: none;
    display: flex;
    justify-content: left;
    text-decoration: none;
 }

 .nav-list a {
    text-decoration: none;
    color: #0056b3;
    margin: 0 15px;
 }

 .nav-list a:hover, .nav-list a:focus {
    text-decoration: none;

 }

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    font-stretch: expanded;
}

span.strike {
    text-decoration-line: line-through;
    color: black;
    font-size: smaller;
    font-style: oblique;
    text-transform: uppercase;
    transform: rotate(0.5turn);
}

.main-section {
    display: flex;
    flex-direction: column right;
    flex-wrap: wrap;
    padding: 0px 120px;
    height: 100px;
    margin-left: 50px;
    justify-content: center;
}

.article-image {
    float: left;
    margin: 20px auto;
    padding-right: 20px;
    width: 280px;
    height: 350px;
    
}

.wrap {
    margin-bottom: 10px;
}

article {
    flex: 1;
    max-width: 50%;
    max-height: 20%;
}

article:nth-of-type(3) {
    flex: 2;
}


aside{
    text-align: left;
    margin: 20px;
    padding: 20px;
    border-left: 2px solid black;
    box-sizing: border-box;
    width: 30%;
}

.image-e, .image-i, .image-n {
    height: 230px;
    width: 200px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5px;
  }
  
.wrapper > div {
    flex: 1;
    margin-right: 10px;
  }

.box1, .box2, .box3 {
    background-color: beige;
    border-radius: 2px;
    margin-bottom: 2px 0;
    max-width: 100%;
}

.subscribe-button {
    background-color: rgb(70, 70, 117);
    color: white;
    font-size: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    float: left;
    width: 30%;
    margin-right: 30px;
    }

.expand {
    display: block;
    text-align: center;
    font-size: 5px;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    border-bottom: 2px solid black;
    max-width: 100%;
    padding-bottom: 40px;
    align-self: center;
}

.expand:hover {
    color: #0056b3;
}


.attribution {
    font-size: 20px;
    color: #666;
    margin-top: 20px;
    display: flex;
    padding-top: 40px;
    padding-right: 40px;
    max-width: 50%;
}

.attribution a {
    color: #007bff;
    text-decoration: none;
}

.attribution a:hover {
    color: #0056b3;
}


footer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}